/* basic styles */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.task {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

input,
label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding: 5px;
  border: 1px solid gray;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid gray;
}

/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 0;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
